.accordionControl:not([data-active="true"]) {
    background-color: light-dark(var(--mantine-color-white), #0a0a0a);
    border-radius: var(--mantine-radius-md);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-3), #1a1a2e);
    transition:
        0.3s ease border,
        0.3s ease color;
}
