.user {
    background-color: light-dark(var(--mantine-color-white), #0a0a0a);
    border-radius: var(--mantine-radius-md);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-2), #1a1a2e);
    transition:
        0.3s ease border,
        0.3s ease color;

    @mixin hover {
        color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-white));
        border: rem(1px) solid light-dark(var(--mantine-color-gray-3), #1a1a2e);
    }

    & > span {
        cursor: pointer;
    }
}

.task {
    transition:
        0.3s ease color,
        0.3s ease background-color;
    padding: 5px 10px 5px 15px;
    border-radius: var(--mantine-radius-md);

    @mixin hover {
        color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-white));
        background-color: light-dark(var(--mantine-color-gray-1), #1a1a2e);
    }
}

.name {
    cursor: pointer;
}

.completed {
    opacity: 0.35;
}
